* {
  font-family: "Rubik", sans-serif;
}

::selection {
  background-color: #4a4caa94;
}
/* HandMade Class Start */

.ls-1{
  letter-spacing: 1px !important;
}
.filter1{
filter:hue-rotate(220deg) invert(10%) ;

}
.filter2{
  filter:hue-rotate(90deg);
}
.filter3{
  filter:grayscale(20%) invert(95%);
}

/* HandMade Class End */

#main {
  height: 30vh;
  background: url("./Images/backGround.png") no-repeat 100% 100% / cover;
}

/* Input Area Start */

#inputContainer{ z-index: 1000; }

#inputContainer form{
  border-radius: 12px;
  overflow: hidden;
}

#inputArea{ outline: 0; }

#inputArea:focus-within {
  transition: 0.5s ease;
  box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#searchBtn:hover,#searchBtn:focus{
  transition: 0.5s ease;
  opacity: 0.80;
}

/* Input Area End */

#outputArea{
  z-index: 1000;
  border-radius: 12px;
}


#map{
  height: 70vh;
  position:relative;
}


.col-md:not(:first-child)::before {
  content: "";
  height: 85%;
  position: absolute;
  top: 2%;
  left: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.185);
}

/* Extra Start */

#topBtn{ display: none; }

#theme{
  z-index: 1000;
  bottom: 25px;
  left: 25px;
}

#filter1:hover .text-primary,#filter2:hover .text-primary{ color: white !important; }
/* Extra End */


/* Mobile Style */

@media (max-width: 768px) { 
  #inputContainer{
    min-width: 75%;
  
  }
  .col-md:not(:first-child)::before {
    display: none; 
}
  
  #map {
    height: 130vh;
}

#topBtn{
  display: block;
  z-index: 1000;
  position: absolute;
  bottom: 25px ;
  right: 25px;
}
}

