* {
  box-sizing: border-box;
  color: #000;
  font-family: "Rubik", sans-serif;
}

::selection {
  background-color: #4a4caa94;
}

#main {
  height: 30vh;
  background: url("./Images/backGround.png") no-repeat 100% 100% / cover;
}

#inputArea{
  outline: 0;
}

#inputContainer{
  z-index: 100;
}

#inputArea:focus-within {
  transition: 0.5s ease;
  box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#map{
  height: 70vh;
}

#inputContainer form{
  border-radius: 12px;
  overflow: hidden;
}

#outputArea{
  z-index: 1000;
  border-radius: 12px;
}

.col-md:not(:first-child)::before {
  content: "";
  height: 85%;
  position: absolute;
  top: 2%;
  left: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.185);
}

@media (max-width: 768px) {
  .col-md:not(:first-child)::before {
    display: none;
}
  #inputContainer{
    min-width: 75%;
  }
  #map {
    height: 150vh;
}
}